/2430632683rawdata_2023-12-24-22-49-36.xls
/brainwave_data_20240706153832.xlsx
/data.csv
/data.py
/eeg_frequencies_with_labels.csv
/epilepsy.py
/epilepsy_test.py
/epilesp_predict.py
/final.py
/final.xlsx
/h5转tflite.py
/Hypertension_Data_Integers.csv
/hypertension_prediction_model.h5
/hypertension_prediction_model.pb
/litemodel
/my_model.h5
/my_model.keras
/my_model_dense.h5
/naobo.py
/naobo_csv.py
/naobo_shuju.py
/pressure.py
/ReadData.py
/rknn12.py
/tcpip.py
/uart_receive.py
/zhenghe.py
/__pycache__